/* :root {
  --border-radius: 30px;
  --color-accent: #008dc5;
  --color-page: #f5f4ee;
  --color-primary: #013449;
  --color-primary-light: #cbcbcf;
  --color-primary-dark: #012a39;
  --color-secondary: #005789;
  --color-text: #1e2d69;
  --color-white: #ffffff;
} */
:root {
  --color-accent: #008dc5;
  --color-page: #fefefe;
  --color-primary: #013449;
  --color-primary-light: #cbcbcf;
  --color-primary-dark: #012a39;
  --color-secondary: #005789;
  --color-text: #333333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography / Fonts */
/* html {
  font-size: 62.5%; /* 62.5% of 16px means 10px */
/* } */
/* body { */
/* color: var(--color-text);
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 2rem; */
/* line-height: 1.6; /*1.6 times the font-size */
/* font-weight: 350; */
/*for the above properties font shorthand can also be used
     font: [font-style] [font-variant] [font-weight] [font-size] [line-height] [font-family]; */
/*} */

/* Typography / Fonts */
html {
  font-size: 62.5%; /* 62.5% of 16px means 10px. So 1rem = 10px*/
  scroll-padding-top: 7rem; /* Zoom to the Section-title on navbar link press */
}
body {
  background-color: var(--color-page);
  color: var(--color-text);
  /* color: var(--color-primary-dark); */
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  /* 1.4rem at 300px and 2rem at 1400px */
  /* font-size: clamp(1.4rem, calc(0.55vw + 1.24rem), 2rem); */
  /* font-size: 1.6rem; */
  /* font-size: clamp(1.4rem, calc(0.95rem + 0.045vw), 1.6rem); */
  font-size: clamp(1.4rem, calc(1.2858rem + 0.357vw), 1.6rem);
  line-height: 1.6; /* 1.6 times the font-size */
  font-weight: 400;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin-bottom: 1.6rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
  font-weight: 650;
}
p {
  margin-top: 0;
} */
/* For screens larger than 1024px */
/* @media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin-bottom: 1.6rem;
}
h1 {
  /* font-size: clamp(2.8rem, calc(2.2858rem + 1.607vw), 4.6rem); */
  font-size: clamp(5.5rem, calc(0.91vw + 5.23rem), 6.5rem);
}
h2 {
  /* font-size: clamp(4.5rem, calc(0.91vw + 4.23rem), 5.5rem); */
  /* font-size: clamp(2.4rem, calc(1.9715rem + 1.339vw), 4rem); */
  font-size: clamp(2.6rem, calc(2.03rem + 1.79vw), 4.6rem);
}
h3 {
  /* font-size: clamp(3rem, calc(1.36vw + 2.6rem), 4.5rem); */
  font-size: clamp(2rem, calc(1.657rem + 1.0714vw), 3.2rem);
}
h4 {
  /* font-size: clamp(1.5rem, calc(0.91vw + 1.23rem), 2.5rem); */
  /* font-size: clamp(1.6rem, calc(0.571rem + 1.34vw), 2.5rem); */
  font-size: clamp(1.6rem, 1.43rem + 0.54vw, 2.2rem);
  font-weight: 650;
}
p {
  margin-top: 0;
}

::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
hr {
  width: 50%;
  height: 1px;
  border: none;
  background-color: var(--color-primary);
  margin: 20px auto;
}

/* Main Container */
.main-container {
  max-width: 700px;
  margin: 0 auto; /*zero for vertical and distribute the horizontal margin on right and left*/
}
/* Main Container--two */
.main-container--two {
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto; /*zero for vertical and distribute the horizontal margin on right and left*/
}
.section-heading {
  text-align: center;
  margin: 10rem auto 3rem auto;
}

/* Links and Anchors */
a {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}
.a--underline {
  position: relative; /*for underline effect*/
}
.a--underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-primary);
  transition: width 0.25s ease-out;
}
.a--underline:hover::after {
  width: 100%;
}
.link {
  color: var(--color-primary);
  font-weight: 550;
}
.link-arrow::after {
  content: "\2192"; /* a small arrow */
  opacity: 0.3;
  display: inline-block; /* for animation */
  margin-left: 5px; /* pixel value so that the gap remain the same irrespective of the font/screen size */
  vertical-align: top;
}
.link-forward::after {
  content: "\00bb"; /*two small forward signs*/
  opacity: 0.3;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
/*Buttons with Links*/
.btn.link-arrow::after {
  content: "\2192";
  opacity: 0.1;
  display: none;
  vertical-align: baseline;
}
.btn.link-forward::after {
  content: "\00bb";
  display: none;
  vertical-align: baseline;
}
.link-forward:hover::after,
.link-arrow:hover::after {
  display: inline-block; /*for link icons in buttons*/
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: moveBackAndForth 0.5s ease-in-out 0s infinite alternate none;
}

@keyframes moveBackAndForth {
  0% {
    transform: translateX(0); /* Start and end at the original position */
  }
  100% {
    transform: translateX(5px); /* Move forward by 5px at the middle */
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.8rem;
  }
}

/* Badges */
.badge {
  border-radius: 5px;
  /* font-size: 1.6rem; */
  font-weight: 350;
  padding: 0.1rem 0.5rem;
  white-space: nowrap; /*  Stop the text to go to the next line if there is less space. */
  border: 1px solid var(--color-primary);
}
.badge--large {
  /* font-size: 1.8rem; */
  font-weight: 550;
}
.badge--primary {
  border: 0;
  background-color: var(--color-primary);
  color: white;
}
.badge--secondary {
  border: 0;
  background-color: var(--color-secondary);
  color: white;
}
.badge--tertiary {
  border: 0;
  background-color: var(--color-text);
  color: white;
}
@media screen and (min-width: 600px) {
  .badge--large {
    padding: 0.5rem 1.5rem 0.6rem; /* I found this appropriate for the fonts 'Open Sans'*/
  }
}
@media screen and (min-width: 1024px) {
  /* .badge {
    font-size: 1.4rem;
  } */
  .badge--large {
    /* font-size: 1.6rem; */
    font-weight: 550;
    padding: 0.5rem 1.5rem 0.5rem; /* I found this appropriate for the fonts 'Open Sans'*/
  }
}

/* Buttons */
.btn {
  border-radius: 5rem;
  border: 0;
  cursor: pointer;
  /* font-size: 1.8rem; */
  font-weight: 550;
  margin: 1rem 0;
  outline: 0;
  padding: 1.5rem 2.5rem;
  text-align: center;
  /* text-transform: uppercase; */
  white-space: nowrap;
}
.btn--small {
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  text-transform: none;
}
.btn--tiny {
  padding: 0.5rem;
  margin: 1rem;
  text-transform: none;
}
/* .btn--primary:focus {
  color: rgb(255, 162, 0);
}*/
.btn:active {
  border: 1.5px solid var(--color-page) !important;
}
.btn--stretch {
  padding-left: 7rem;
  padding-right: 7rem;
}
.btn > i {
  font-size: inherit;
  margin-right: 5px;
}
.btn--primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
  -webkit-tap-highlight-color: transparent;
}
.btn--primary:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.btn--secondary {
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: white;
}
.btn--secondary:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
.btn--outline {
  background: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.btn--outline:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: white;
}
.btn--block {
  display: inline-block;
  width: 100%;
}
/* @media screen and (min-width: 768px) {
  .btn {
    font-size: 1.6rem;
  }
} */

.btn--active {
  background-color: var(--color-accent);
  border: 1.5px solid var(--color-page);
  color: white;
}
.btn--active:hover {
  border: 1.5px solid var(--color-page);
}
/* Card component */
.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}
.card__tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;
}
.card h2 {
  margin-top: 1.6rem;
}
.card__header,
.card__body {
  padding: 1.5rem 2.5rem;
}
.card__body {
  background-color: #f5f4ee;
}
.card__links {
  padding-top: 2rem;
}
.card__links a {
  padding-right: 2rem;
}
.card--type-1 .card__header {
  color: white;
  background-color: #9bc8e0;
}
@media screen and (min-width: 768px) {
  .card {
    text-align: left;
  }
  .card__tags {
    justify-content: left;
  }
}

/* Lists */
.list {
  list-style: none; /*remove default bulllets*/
  padding-left: 0;
}
.list .list__item::before {
  content: "\2192"; /* arrow as bullets*/
  margin-right: 1rem;
}
.list .list__item--dot::before {
  content: "\2022"; /* dot as bullets */
  font-size: 2rem; /* size of dot*/
  color: var(--color-primary-dark); /* dot color */
  margin-right: 10px;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* ul.list {
  list-style: none;
  padding-left: 0;
}
ul.list li {
  position: relative;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

ul.list li::before {
  content: "\2192"; 
  margin-right: 0.5em;
  color: #555;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
} */

/* Icons */
.icons-container {
  display: flex;
}
.icon-cell {
  align-items: center;
  display: inline-flex;
  height: 75px;
  justify-content: center;
  width: 75px;
}
.icon {
  align-items: center;
  border-radius: 50%;
  border: 4px solid white;
  box-sizing: content-box;
  display: flex;
  font-size: 26px; /* font awesome attribute for size of symbol inside an icon */
  height: 35px;
  justify-content: center;
  padding: 3px;
  transition: all 0.2s ease-out;
  width: 35px;
}
.icon:hover {
  border: 7px solid white;
  padding: 7px;
  /* filter: brightness(115%); */
}
.icon--git {
  font-size: 30px;
  background-color: #000000;
  box-shadow: 0 0 0 2px #000000;
  color: white;
}
.icon--linkedin {
  background-color: #0077b5;
  box-shadow: 0 0 0 2px #0077b5;
  color: white;
}
.icon--mail {
  color: white;
  background-color: #59b7e3;
  box-shadow: 0 0 0 2px #59b7e3;
}
.icon--search {
  color: white;
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
}
.icon--location {
  color: white;
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
}

/* Input Components */
.inputs {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary-light);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 0px 10px, rgba(0, 0, 0, 0.2) 0px 3px 10px;
  display: inline-block;
  padding: 2rem 0 2rem 2rem;
  outline-style: solid;
  outline: 0;
}
::placeholder {
  color: var(--color-primary-light);
  font-weight: 300;
}
.inputs--plain {
  border: 1px solid var(--color-primary-light);
  display: inline-block;
  padding: 1rem;
  outline-style: solid;
  outline: 0;
}
::placeholder {
  color: var(--color-primary-light);
  font-weight: 300;
}
.inputs--plain:focus {
  border-color: var(--color-accent);
}
.input-group {
  border: 1px solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 0px 10px, rgba(0, 0, 0, 0.2) 0px 3px 10px;
  display: flex;
  overflow: hidden;
}
.input-group .btn {
  border-radius: var(--border-radius);
  margin: 5px;
}
.input-group .icon--search:hover {
  background-color: var(--color-accent);
  box-shadow: 0 0 0 2px var(--color-accent);
}
.input-group .inputs {
  border: 0;
  box-shadow: none;
  flex-grow: 1;
  width: 10ch;
}
.input-group .icon-cell {
  width: 65px;
  height: 65px;
}
@media screen and (min-width: 768px) {
  .inputs {
    padding: 2rem 2rem;
    width: 30ch;
  }
}

/* Media Object */
.media-container {
  background: linear-gradient(
    0deg,
    var(--color-page) 0%,
    rgb(255, 255, 255) 25%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 75%,
    var(--color-page) 100%
  );
}
.media-container .collapsible {
  margin: 0 auto;
  max-width: 1080px;
}
.media-container .collapsible__icon {
  padding: 0;
}
.media {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: flex-start;
  padding-top: 5px;
  overflow: hidden;
  width: 100%;
}
.media ul.list {
  list-style: none;
  padding-left: 6.5rem;
}
.media ul.list li {
  position: relative;
  padding-left: 1.5em;
  text-indent: -1.5em;
  max-width: 70ch;
}
.media ul.list li::before {
  content: "\2192";
  margin-right: 0.5em;
}
.media__component-wrapper {
  width: 100%;
  height: auto;
}
.media__component {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-wrap: wrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
}
.media__icon {
  display: block;
  border-radius: inherit;
  object-position: center center;
  object-fit: cover;
  flex: 0 0 auto;
  margin-top: 0.5rem;
}
.media__icon > img {
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  display: block;
  flex: none;
  width: 50px;
}
.media__details {
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2px;
  height: auto;
  justify-content: center;
  overflow: visible;
  margin-left: 5px;
}
.media ul {
  margin-top: 0;
}
.media__dateS {
  padding: 5px;
  flex: 0 0 auto;
  display: none;
}
.media .list__item {
  margin-top: 10px;
  line-height: 1.5;
  color: var(--color-secondary);
}
.media h3,
.media h4 {
  margin: 0;
}
.media__skills {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .media-container {
    margin-top: 5rem;
  }
  .collapsible__header--CV .fa-stack {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .media ul.list {
    padding-left: 0.5rem;
  }
  .media__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .media {
    padding: 10px;
  }
  .media__dateF {
    display: none;
  }
  .media__dateS {
    display: block;
  }
  h4 {
    font-weight: 550;
  }
}
@media screen and (min-width: 1024px) {
  .media__details {
    flex: 0.9 0 0px;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Callout */
.callout {
  padding: 3rem;
  border: var(--border-radius);
  color: white;
  text-align: center;
}

.callout--primary {
  background-color: var(--color-primary);
}
.callout__heading {
  margin-top: 0;
  color: white;
}
.callout .btn {
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin-left: 5rem;
  }
  .callout .grid {
    grid-template-columns: 1fr auto;
  }
}

/* Collpasibles */
.collapsible {
  padding: 1rem;
  border-bottom: 0.5px solid var(--color-page);
  overflow: visible;
}
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* only for CV section */
.collapsible__header--CV {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapsible__heading {
  margin: 0px;
  line-height: 1;
  /* font-size: 2.5rem; */
}
.collapsible__icon {
  padding: 0 1rem;
}
.collapsible__toggler {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.fa-stack {
  font-size: 2rem;
}
.fas.fa-circle {
  color: var(--color-primary-light);
  opacity: 0.5;
}
.fa-chevron-down {
  color: var(--color-primary);
}
.collapsible__content {
  opacity: 0;
  max-height: 0; /* To initially hide the content */
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.collapsible--expanded .collapsible__toggler {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  opacity: 1;
  /* max-height: 100vh; */
  max-height: none;
}

/* Navigation Bar */
.nav {
  background-color: var(--color-primary-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav i {
  color: white;
  font-size: 30px;
  padding-right: 1.5rem;
  opacity: 0.95;
}
.nav .collapsible__content {
  opacity: 1;
  transition: all 0s;
  width: 100%;
}
.nav .list {
  margin: 0;
}
.nav__item {
  border-bottom: 1px solid var(--color-page);
  padding: 1rem 0;
  margin: 0rem clamp(2rem, calc(0.868vw + 1.333rem), 3rem);
}
.nav__item:last-of-type {
  border-bottom: none;
}
.nav__item a {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.nav__item a:hover {
  opacity: 1;
}
.main-logo {
  transform: translateY(4px);
  opacity: 0.97;
}
.nav .a--underline::after {
  background-color: white;
}
@media screen and (min-width: 768px) {
  .nav .collapsible__header {
    display: none;
  }
  .nav .list {
    display: flex;
    justify-content: space-between;
  }
  .nav .collapsible__content {
    max-height: 100%;
    width: auto;
  }
  .nav__item {
    border: 0;
    padding: 0.3rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-logo {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1920px) {
  .nav {
    justify-content: space-evenly;
  }
}

/* Blocks */
.block {
  max-width: 70rem;
  padding: 5rem 2rem;
  margin: 0 auto;
}
.block__header {
  text-align: center;
}
.block__header__heading {
  margin-top: 0;
}
.block--primary {
  background-color: var(--color-primary);
  color: white;
}
.block--primary h1,
.block--primary h2,
.block--primary h3 {
  color: white;
}
.block--primary .block__header__heading {
  color: white;
}
.block--primary .input-group .inputs {
  color: white;
  background-color: var(--color-primary);
}

/*Portfolio Block */
/* .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.portfolio__warning {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 5rem auto;
  gap: 5rem;
  max-width: 70ch;
}
.portfolio__warning > i {
  font-size: 15rem;
}
.block__btns {
  margin-top: 2.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.block__btns > button:first-child {
  padding: 1rem 3rem;
}
.block__btns .btn {
  flex: 0 1 180px;
}
@media screen and (min-width: 768px) {
  .block__btns .btn {
    flex: initial;
  }
}

/* Article (Project Article) */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 5rem;
}
.project {
  /* border: 1px solid rgb(173, 173, 173); */
  display: flex;
  flex-direction: column;
  max-width: 700px;
  text-align: center;
  justify-content: stretch;
  padding: 1.5rem 2.5rem;
}
/* .projects .project:nth-child(even) {
  background-color: rgb(253, 253, 253);
} */

.project__header {
  flex: 0 1 210px; /*min-height: 210px; can also be used*/
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.project__header .badge {
  margin: 0 auto;
}
.project__title {
  margin-top: 1.6rem;
  line-height: 1.15;
}
.project_techs {
  text-align: center;
}
.project__header,
.project__body {
  padding: 1.5rem 0;
}
.project__image {
  width: 100%;
}
.project__body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.project__links {
  display: flex;
  column-gap: 2rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
}
/* .project__links a {
  padding-right: 2rem;
} */
@media screen and (min-width: 768px) {
  .projects {
    align-items: stretch;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(450px, 670px)); */
    grid-template-columns: repeat(auto-fit, minmax(450px, 670px));
    gap: 10rem 2rem;
    justify-content: space-evenly;
    /* auto-fill: Reserves space for as many tracks as can fit, even if they’re empty.
       auto-fit: Collapses empty tracks, so the existing content stretches or centers better. */
  }
}
@media screen and (min-width: 1366px) {
  .project__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project__links {
    margin-top: auto;
    padding-top: 2rem;
  }
}
/* Single Project Info */
.project--page {
  display: flex;
  background-color: white;
  flex-direction: column;
  max-width: 1050px;
  gap: 5rem;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;
  align-items: flex-start;
  padding: 4rem;
  font-size: clamp(1.1rem, 1vw + 1rem, 2rem);
  line-height: 1.5;
}
.project--page__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  align-self: center;
}
.project--page__heading {
  margin-top: 1.6rem;
  line-height: 1.15;
  text-align: center;
}
.project--page__main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}
.project--page__main-image-container img {
  max-width: 100%; /* Prevents the image from overflowing */
  height: auto; /* Maintains the image aspect ratio */
}
.project--page p {
  text-align: justify;
  margin-bottom: 5rem;
}
.project--page__summary {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.6rem);
  background-color: #f5f4ee;
  border: 1px solid var(--color-primary-light);
  padding: 4rem;
  text-align: left;
}
.project--page__summary > p {
  text-align: left;
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1366px) {
  .project--page__summary {
    max-width: 70ch;
    float: right;
    margin-right: -10rem;
    line-height: 1.8;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .project--page__summary {
    max-width: 70ch;
    float: right;
    line-height: 1.8;
    margin-left: 2rem;
  }
}
.project--page ul.list li {
  position: relative;
  padding-left: 1.5rem;
  text-indent: -2rem;
  max-width: 70ch;
  margin-bottom: 1rem;
}
.project--page ul.list li::before {
  content: "\2043";
  margin-right: 0.5em;
}
.project--page__img-right {
  margin-left: 2rem;
  max-width: 500px;
  float: right;
}
.project--page__img-left {
  max-width: 500px;
  margin-right: 2rem;
  float: left;
}

/* Footer*/
.footer {
  margin-top: 10rem;
  padding-top: 4rem;
}
.footer * {
  color: var(--color-primary);
}
.footer--dark {
  background-color: var(--color-primary-dark);
}
.footer--dark * {
  color: white;
  opacity: 0.95;
}
.footer .collapsible:nth-of-type(3) {
  border-bottom: none;
}
.footer .collapsible__content a {
  position: relative; /*for the pseudo element (line below) */
}
.footer .collapsible__content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-primary);
  transition: width 0.5s ease;
}
.footer--dark .collapsible__content a::after {
  background-color: white;
}
.footer .collapsible__content a:hover::after {
  width: 100%;
}
.footer .collapsible__heading {
  font-size: clamp(1.6rem, 1.43rem + 0.54vw, 2.2rem);
  font-weight: 650;
}
.footer .fa-stack {
  font-size: 1.8rem;
}
.footer .list {
  margin: 0.5rem 0;
}
.footer li {
  margin: 1rem 0;
}
.footer__logo {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}
.footer__copyright-notice {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .footer {
    overflow: auto;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 5rem;
    padding: 4rem 4rem 0 2rem;
  }
  .footer > * {
    flex: 0.1 1 auto;
  }
  .footer .collapsible {
    border-bottom: 0;
    padding: 2rem 0;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100vh;
  }
  .footer__logo {
    order: -1;
    padding: 0;
    margin: 0;
  }
  .footer .collapsible__toggler {
    display: none;
  }
  .footer .collapsible__heading {
    font-size: 1.5rem;
  }
  .footer .list {
    margin: 1.6rem 0 0 0;
  }
  .footer li {
    margin: 0;
  }
}

/* Hero */
.hero-container {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
}
.hero {
  width: 1366px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h2 {
  font-size: clamp(4.5rem, calc(0.91vw + 4.23rem), 5.5rem);
}
.hero__left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem 1rem;
}
.h__l-p__s-a__prof {
  font-size: 1.6rem;
  font-weight: 650;
}
.hero__left-panel__large-about {
  display: none;
}
.hero__left-panel__img {
  max-width: 250px;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.hero .icons-container {
  margin-top: 1.6rem;
}
.hero__right-panel {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: clamp(5.5rem, calc(0.91vw + 5.21rem), 6.5rem);
  }
  .hero h1,
  .hero p {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    margin: 10rem auto;
  }
  .hero__left-panel__img {
    display: none;
  }
  .hero__left-panel {
    margin-left: auto;
  }
  .hero__right-panel {
    margin-left: auto;
    display: flex;
  }
  .hero__left-panel__small-about {
    display: none;
  }
  .hero__left-panel__large-about {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero__left-panel h1 {
    font-size: 5rem;
  }
  .hero__left-panel h2 {
    font-size: 3rem;
  }
  .hero__left-panel h1,
  .hero__left-panel h2,
  .hero__left-panel h3,
  .hero__left-panel p {
    text-align: center;
    margin: 0px;
    letter-spacing: 1px;
  }
  .hero__right-panel__img {
    width: 410px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__left-panel h1,
  .hero__left-panel h2,
  .hero__left-panel h3 {
    text-align: center;
    margin: 0px;
    letter-spacing: 5px;
  }
  .hero__left-panel p {
    text-align: center;
    margin: 0px;
    letter-spacing: 1px;
    line-height: 2.2;
  }
  .hero__right-panel__img {
    width: 500px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__right-panel__img {
    width: 545px;
  }
}

/* Contact */
.contact {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 5rem 1rem;
  max-width: 1366px;
  margin: 0 auto;
}
.contact h2,
.contact h3,
.contact h4 {
  margin: 0;
}
.contact__1,
.contact__2 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact__1 {
  color: var(--color-primary);
  font-weight: 400;
}
.contact__1 .icon {
  font-size: 20px;
  height: 25px;
  width: 25px;
}
.contact__1 .email,
.contact__1 .linkedin,
.contact__1 .location {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 1.4;
}
.email:hover .icon,
.linkedin:hover .icon,
.location:hover .icon {
  border: 7px solid white;
  padding: 7px;
}

.contact__2__form {
  margin-top: 2rem;
  width: 100%;
}
.contact__2__form .inputs--plain {
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.6rem; /* prevent the default zoom in iOS (especially Safari) */
}
.contact__2__form textarea {
  width: 100%;
  height: 20vh;
}
.contact__2__form button {
  display: block;
  margin: 0 auto;
  margin-top: 0.3rem;
}

.contact__map {
  height: 200px;
  width: 100%;
}
.contact__map h2,
.contact__map h3 {
  margin: 0;
  line-height: 0.8;
}
.contact__map h2 {
  font-size: 1.5rem;
}
.contact__map h3 {
  font-size: 1.3rem;
}
.contact__map a {
  font-size: 0.75rem;
}

/* Overlay to blurs the background */
.contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(218, 214, 214, 0.3); /* blur fallback for Firefox*/
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 1000;
}
.contact-message {
  background: white;
  border-radius: 12px;
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
}
/* Hidden by default */
.hidden {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
  }
  .contact__1,
  .contact__2 {
    flex: 1;
  }
  .contact__1 {
    gap: 2rem;
  }
  .contact__map {
    height: 300px;
  }
  .contact__2__form textarea {
    height: 30vh;
  }
  .contact-overlay {
    align-items: center;
  }
  .contact-message {
    width: 80%;
    height: 60%;
  }
}

.content-notice {
  color: rgb(137, 140, 144);
  font-size: 0.9rem;
  background-color: rgb(1, 42, 57);
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
}

/* Extra Classes */
/* An example of a complex pesudo class selector */
/* #container:has(+ div#topic > #reference) {
    background-color: lightblue;
    border: 2px solid blue;
    font-size: 3rem;
    padding: 0%;
    margin-bottom: 0rem;
  }   */
